.login-border {
  border-top: 4px solid #3498db;
  border-bottom: 4px solid #3498db;
  padding: 16px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: relative;
}

.border-title {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.login-button {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #2980b9;
}

.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fef3c7;
  color: #92400e;
  padding: 20px 30px;
  border: 2px solid #facc15;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
  max-width: 80%;
  text-align: center;
}

.login-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* darkens the page */
  z-index: 999;
}

.favourites-button {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  margin-left: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}