.movie-list {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* This puts the horizontal scrollbar at the very bottom, page cannot be scrolled vertically */
    padding-bottom: 3.9rem;
}

.movie-list::-webkit-scrollbar {
    height: 10px;
}

h1 {
    padding-top: 1rem;
    text-align: center;
}